.Notifications {
    border: 2px dashed red;
    padding: .5rem .2rem;
    position: absolute;
    width: 40%;
    right: 1rem;
}

.menuItem {
    text-align: right;
    margin: 0 1em;
}

li[data-notification-type='default'] {
    color: blue;
}

li[data-notification-type='urgent'] {
    color: red;
}
